@import "./common.css";

.main {
  font-size: 1rem;
  display: grid;
  grid-template-columns: 1fr 5fr;
  min-height: 100vh;
}

.main .top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
}

.main .main-content .heading {
  width: 90%;
  display: flex;
  align-items: center;
}

.main .heading > p {
  margin-top: 0.7rem;
}

.main .main-footer {
  margin: 1rem;
}

.main-content .empty-liked {
  margin-left: 40%;
}
