.sub-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.banner {
  width: 100%;
  height: 60vh;
  background: url(assets/banner.jpg);
  background-size: cover;
}

.banner-container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--blur);
}

.home-heading {
  margin: 1rem 0;
  width: 100%;
  text-align: center;
}

.banner-text {
  width: 21rem;
}

.banner-text-heading {
  text-align: center;
  font-size: 3rem;
  color: var(--white-section);
}

.banner-text-button {
  width: 14rem;
  text-decoration: none;
  color: var(--default);
  cursor: pointer;
  background-color: var(--bg-color);
  border: none;
  padding: 1.5rem;
  border-radius: 10px;
  font-weight: 700;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  margin: auto;
  margin-top: 2rem;
}

.banner-text-button:hover {
  opacity: 0.8;
}

.banner-arrow {
  margin-left: 0.5rem;
  font-weight: bolder;
}

.retina {
  position: relative;
}

.retina:hover {
  transform: scale(1.1);
  transition: all 0.7s;
}

.text-overlay {
  border-radius: 0 0 1rem 1rem;
  color: var(--default);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 8.9rem;
  background-color: var(--bg-color);
  width: 100%;
  height: 40%;
}

.img-size {
  margin: 0;
  border-radius: 1rem;
  object-fit: cover;
  height: 15rem;
  width: 25rem;
  height: 15rem;
}

@media screen and (max-width: 480px) {
  .img-size {
    width: 15rem;
  }
}
