.drawer {
  background-color: var(--bg-color);
  border: 1px solid var(--white-section);
  position: sticky;
  top: 4.8rem;
  height: calc(100vh - 79px);
  min-width: max-content;
}

.stacked-list {
  width: 100%;
  background-color: var(--bg-color);
  text-decoration: none;
  border: none;
  font-size: 1.3rem;
  text-align: left;
}

.link {
  color: var(--default);
  text-decoration: none;
}

.list-item .fas,
.list-item .far {
  margin: 0 0.5rem;
}

.list-item {
  margin: 0;
  display: block;
  border: none !important;
}
