@import "./common.css";

.drawer {
  width: 15rem;
  background-color: var(--bg-color);
  border: 1px solid var(--white-section);
  min-height: 76.4vh;
}

.stacked-list {
  width: 100%;
  background-color: var(--bg-color);
  text-decoration: none;
  border: none;
  font-size: 1.3rem;
  text-align: left;
}

.list-item .fas,
.list-item .far {
  margin: 0 0.5rem;
}

.list-item {
  margin: 0;
  display: block;
  border: none !important;
}