@import "./common.css";

.watchLaterContainer {
  font-size: 1rem;
  display: grid;
  grid-template-columns: 1fr 5fr;
  min-height: 100vh;
}

.watchLaterContainer .header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 2rem;
}

.watchLaterContainer .main-content .heading{
  width: 90%;
  margin: 1rem;
  display: flex;
  align-items: center;
}

.watchLaterContainer .heading > p{
    margin-top: .3rem;
}

