:root {
  --bg-color: #e2e8f0;
  --blur: rgba(0, 0, 0, 0.27);
}

.margin-top-0_5 {
  margin-top: 0.5rem;
}

.margin-top-1 {
  margin-top: 1rem;
}

.margin-top-0_2 {
  margin-top: 0.2rem;
}

.margin-top-1_5 {
  margin-top: 1.5rem;
}

.margin-right-0_5 {
  margin-right: 0.5rem;
}

.margin-right-2 {
  margin-right: 2rem;
}

.margin-top-2 {
  margin-top: 2rem;
}

.margin-1 {
  margin: 1rem;
}

.margin-2 {
  margin: 2rem;
}

.cursor-pointer {
  cursor: pointer;
}

/* Media Queries  */

@media screen and (max-width: 1024px) {
  .hamburger-icon {
    display: inline !important;
  }
  .simple-navigation .nav-link,
  .drawer,
  .simple-navigation .profile {
    display: none;
  }
  .videoContainer,
  .videoPlayerContainer,
  .playlistContainer,
  .main {
    grid-template-columns: 1fr !important;
  }
  .videoPlayerContainer .main-content {
    padding: 0.5rem !important;
  }
  .playlist-modal-container {
    left: calc(100vw - 60vw);
  }
}

@media screen and (max-width: 786px) {
  .nav-list {
    position: static;
    border: none;
    background-color: var(--bg-color);
  }
  .nav-search {
    position: fixed;
    top: 74.4px;
    left: 0;
    width: 100vw;
  }
  .videoContainer .main-content {
    margin-top: 2rem;
  }
  .videoContainer .filter-list-item {
    margin: 0.1rem !important;
  }
  .videoPlayerContainer .footer {
    flex-direction: column;
    justify-content: flex-start !important;
    align-items: start !important;
  }
  .playlist-modal-container {
    left: calc(100vw - 70vw);
  }
  .horizontal .img {
    width: 10rem !important;
  }
  .footer .view {
    margin: 0 !important;
  }
  .playlistContainer .normal-list-item {
    width: 25rem !important;
  }
}

@media screen and (max-width: 480px) {
  .playlist-modal-container {
    left: calc(100vw - 85vw);
  }
  .videoContainer .main-content {
    padding: 0 !important;
  }
  .videoContainer .card {
    width: 18rem !important;
  }
  .videoContainer .title {
    width: 12rem !important;
  }
  .playlistContainer .normal-list-item {
    width: 15rem !important;
  }
}
